$color-primary: #adb5bd;
$color-primary-light: #ced4da;
$color-primary-dark: #6c757d;
$color-grey-dark: #495057;
$color-grey-the-lightest: #f8f9fa;
$color-white: #fff;
$color-black: #000;

//ACCENT COLORS
$color-accent-turquoise-primary: #48cae4;
$color-accent-turquoise-light: #90e0ef;
$color-accent-turquoise-dark: #00b4d8;

// FONTS
$default-font-size: 1.6rem;
