.section-about {
  background-color: $color-grey-the-lightest;
  padding: 25rem 0;
  margin-top: -20vh;
  &-description {
    display: flex;
    justify-content: space-around;

    &-text-content {
      max-width: 33vw;
    }

    &-image-composition {
      min-width: 33vw;
    }
  }
}
